<form method="POST" action="/api/session/login">
    <label for="">
        Email:
        <input type="email" name="email" placeholder="ex@gmail.com" value=""/>
    </label>
    <br/>
     <label for="">
        Password:
        <input type="password" name="password" placeholder="******" value=""/>
    </label>
    <br/>
    <input type="submit" value="Login"/>

</form>

<p>Not account?<a href="/register">Registrarse</a></p>