<form method="POST" action="/api/session/register">
    <label for="">
        Nombre:
        <input type="text" name="nombre" placeholder="Ignacio" value=""/>
    </label>
    <br/>
     <label for="">
        Apellido:
        <input type="text" name="apellido" placeholder="Machuca" value=""/>
    </label>
    <br/>
    <label for="">
        Email:
        <input type="email" name="email" placeholder="ex@gmail.com" value=""/>
    </label>
    <br/>
     <label for="">
        Password:
        <input type="password" name="password" placeholder="******" value=""/>
    </label>
    <br/>
    <input type="submit" value="Register"/>

</form>

<p>Not account?<a href="/login">Login</a></p>