<h1>Registro</h1>

<form method="POST" action="/api/session/register">
  <label>
    Nombre:
    <input type="text" name="first_name" placeholder="Ignacio" required />
  </label>
  <br />

  <label>
    Apellido:
    <input type="text" name="last_name" placeholder="Machuca" required />
  </label>
  <br />

  <label>
    Edad:
    <input type="number" name="age" placeholder="20" required />
  </label>
  <br />

  <label>
    Email:
    <input type="email" name="email" placeholder="ex@gmail.com" required />
  </label>
  <br />

  <label>
    Contraseña:
    <input type="password" name="password" placeholder="******" required />
  </label>
  <br />


  <input type="submit" value="Registrarme" />
</form>

<p>¿Ya tenés cuenta? <a href="/login">Iniciar sesión</a></p>
